.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-provider {
  width: 100%;

}

.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.slide {
  width: 25%;
  height: 100%;
}
.carousel__back-button, .carousel__next-button {
  position: absolute;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}
.carousel__next-button {
  top: 30%;
  right: 0;
}
.carousel__back-button {
  top: 30%;
  left: 0;
}

.carousel__back-button:hover, .carousel__next-button:hover {
  background-color: #666;
}

.pointer       { cursor: pointer; }

.salebg{
  background-image: url(images/sale.png);
  background-size: cover;
}

.hamburger{
  display: none;
}

.varasto{
  width: 70px;
}
.searchbar2{
  display: none;
}

.hide{
  display: none;
}

@media only screen and (max-width: 930px) {

  
  .test {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .description{
    display: none;
  }

  .searchbar{
    width: 100%;
  }
  .footer{
    display: none;
  }
  .inventory{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .hide{
    display: block;
  }

  .show{
    display: none;
  }

  .testing{
    padding-bottom: 20px;
  }

  .responsiveproduct{
   grid: unset; 
}
}

@media only screen and (max-width: 540px) {
  .searchbar{
    display: none;
  }
  .searchbar2{
    display: block;
  }
  .respo{
    margin-top: 10rem;
  }
  .menurespo{
    top: 130px;
  }
  .inventory{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}